version: 2.1

jobs:
  build:
    docker:
    # Use the same Docker base as the project
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
                chmod +x /bin/hadolint
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint

  Docker:
    machine: true
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: run docker
          command: |
            docker build -t hello2 .
            echo ***************************** finish build stage ${CIRCLE_WORKFLOW_ID} **************************
            docker image ls
            docker run -p 8080:8080 -d hello2
            curl -v http://localhost:8080/index.html
  URL_check:
    machine: true
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: URL check
          command: |
            docker run --network container:hello appropriate/curl --retry 200 --retry-connrefused http://localhost:8080/index.html
workflows:
  default:
    jobs:
      - build
      - Docker
      # - URL_check
          # requires: [Docker]      
        